.container {
  display: flex;
  padding: 40px;
  flex-wrap: wrap;
  background-color: white;
}

.image{
  height: 300px;
  width: 400px;
  border-radius: 5px;
  margin: 20px;
}

.itemName{
  text-align: center;
  font-family: 'Kalnia', serif;
  font-weight: 300;

}

.breakfastMenuTitle{
  font-size: 3rem;
  text-align: center;
  padding-bottom: 70px;
  font-family: 'Kalnia', serif;
}
