.container {
  display: flex;
  padding: 40px;
  padding-top: 150px;
  flex-wrap: wrap;
  background-color: white;
}

.logo{
  position: absolute;
  top: 0;
  left: 5%;
  height: 270px;
  width: 250px;
  clip: rect(40px, 220px, 190px, 0);
}

.image{
  height: 300px;
  width: 400px;
  border-radius: 5px;
  margin: 20px;
}

.itemName{
  text-align: center;
  font-family: 'Kalnia', serif;
  font-weight: 300;

}

.MenuTitle{
  font-size: 3rem;
  text-align: center;
  padding-bottom: 70px;
  font-family: 'Kalnia', serif;
}

.breakfastTitle {
  position: absolute;
  top: 25%;
  left: 45%;
  font-size: 1rem;
  font-family: 'Kalnia', serif;
}

.fanFavDiv{
  height: 500px;
  width: 85%;
  position: relative;
  left: 7%;

}
.fanFavImgDiv{
  height: 500px;
  width: 600px;
  position: absolute;
  left: 50%;
  top: 5%;
}
.fanFavImg{
  float: right;
  height: 100%;
  width: 100%;
}

.fanFavTxt{
  font-size: 4.5rem;
  width: 50%;
  margin-right: 0;
  text-align: center;
  position: relative;
  top: 15%;
  font-family: 'Calligraffitti', cursive;
  text-align: center;
  color: black;
  text-shadow: 5px 5px 0px #FFB650;  }