html{
  scroll-behavior:smooth;
}



.storeImg{
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  width: 100vw;
  height: 700px;
  top: -10px;
  box-shadow: 3px 3px 3px black;

}

/*    NAVBAR     */
ul{
  background-color: white;
  position: fixed;
  display:inline-flex;
  text-align: center;
  top: 0;
  padding: 0;
  width: 100%;
  height: 100px;
  z-index: 1100;
  margin-top: 0;
  list-style-type: none;
  font-size: 2rem;
  box-shadow: 3px 3px 3px black;
}

a{  
  text-decoration: none;
  margin: 20px;
  color: black;
}

/*    JU23 Logo     */
.logo{
  position: absolute;
  top: 0;
  left: 5%;
  height: 270px;
  width: 250px;
  clip: rect(40px, 220px, 190px, 0);
}

.MenuTitle{
  position: relative;
  font-size: 3rem;
  text-align: center;
  font-family: 'Kalnia', serif;
  margin: 0;
}


.container {
  position: relative;
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  background-color: white;
  left: 5%;
}

#Breakfast{
  margin-top: 100px;
}

hr{
  width: 50%;
  margin-bottom: 70px;
}

h6{
  margin-top: 0;
  margin-bottom: 0;
}

/*   IMG/TITLE/DESCRIPTION   */
.entireItemDiv{
  position: relative;
  text-align: center;
  border: 15px;
  width: 50%;
}

.image{
  height: 400px;
  width: 500px;
  margin: 20px;  
  padding-top: 50px;
}

.itemName{
  font-family: 'Kalnia', serif;
  font-weight: 300;
  margin-top: 0;
}

.itemDescription{
  position: relative;
  left: 20%;
  width: 60%;
  margin: 0;

}


.BreakfastLunchDinnerTitle {
  font-size: 1rem;
  font-family: 'Kalnia', serif;
  text-align: center;
}

/*  Fan Favorite Item/Dish   */
.fanFavDiv{
  height: 500px;
  width: 84.5%;
  position: relative;
  left: 7%;
  padding-bottom: 100px;
  margin-bottom: 100px;
  top: 40px;
  background-color: #FFE382;
}

.fanFavImgDiv{
  height: 500px;
  width: 600px;
  position: absolute;
  left: 50%;
  top: 8%;

}
.fanFavImg{
  float: right;
  height: 100%;
  width: 100%;
}

.fanFavTxt{
  font-size: 4.5rem;
  width: 50%;
  margin-right: 0;
  margin-bottom: 0;
  text-align: center;
  position: relative;
  top: 2%;
  font-family: 'Calligraffitti', cursive;
  text-align: center;
  color: black;
  text-shadow: 3px 3px 0px #EF9595;  }

  .mostOrderedTxt{
    color: #FF8080;
    font-size: 2.8rem;
    text-shadow: 2px 2px 0px black;
  }